* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'NanumGothic', sans-serif;
  background: #f5f5f5;
}

#root {
  width: 390px;
  max-width: 100%;
  min-height: 100svh;
  margin: 0 auto;
  background: #fff;
}

p {
  margin: 0;
}
